/*		GENERAL	STYLES	*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
}

/*		APP LAYOUT 		*/
.app {
  background: linear-gradient(80deg, rgba(239, 83, 80, 0.6), rgba(41, 182, 246, 0.7)), url('../img/us-capitol.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper {
	padding: 0 10px;
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	border: 10px solid rgba(255, 255, 255, 0.25);
}

.results-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.results-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.results-state {
	margin: 0;
	padding: 18px;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.back-button a:link,
	.back-button a:visited {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 30px 20px 0;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.5s ease-out;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}

.back-button a:hover {
	color: rgba(255, 255, 255, 0.95);
	transition: all 0.5s ease-out;
}

.back-button p {
	margin: 0;
}

/*
		PAGE: NOT FOUND
*/
.not-found {
	margin-top: 10%;
}

.not-found h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 25px 0;
}

.not-found h3 {
	font-family: 'Comfortaa', cursive;
	margin-bottom: 20px;
}

.willis-photo {
	height: 150px;
	width: 150px;
	-mos-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	border: 5px solid #FF1744;
	margin: 0;
}

/*		APP HEADER  	*/
.app-header {
	margin: 15vh 0 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-title {
	margin: 0 0 10px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 18px;

}

.app-title {
	margin: 18px 0 60px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
	line-height: 1.35;
	letter-spacing: 5px;

}

.app-title span {
	font-weight: 700;
	color: #FF1744;
}

.search-title {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 24px;
}

/*		SEARCH BAR 		*/
.user-search {
	display: flex;
	justify-content: center;
}

.user-search input[type=text] {
	margin: 0;
	flex-basis: 50%;
	border-color: #FF5252;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-radius: 5px 0 0 5px;
	transition: all 0.35s ease-in-out;
	outline: none;
}

.user-search input[type=text]:focus {
	border-color: #FF1744;
	transition: all 0.35s ease-in-out;
}

.user-search input[type=text][placeholder] {
	font-size: 18px;
	line-height: 1.5;
	padding-left: 10px;
}

.search-button {
	margin: 0;
	border: 1px;
	border-radius: 0 5px 5px 0;
	padding: 0 11px 2.5px 11px;
	font-size: 18px;
	color: #fff;
	background-color: #FF5252;
	transition: all 0.25s ease-out;
}

.activated {
	background-color: #FF1744;
	transition: all 0.25s ease-out;
}

.deactivated {
	background-color: #FF5252;
	transition: all 0.25s ease-out;
}

/*		CARD 		*/
.card {
	display: flex;
	flex-direction: column;
	flex: 0 1 250px;
	margin: 10px;
}

.card h3 {
	margin: 15px 0 0 0;
	font-weight: 400;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 1px;
}

.card p {
	margin: 12px 0 5px;
	font-weight: 200;
	letter-spacing: 0.5px;
}

.card img {
	width: 100%;
}

.card ul {
	margin: 10px 0 20px 0;
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.card ul > * {
	flex-basis: 40px;
}

.card a {
	color: #fff;
	font-size: 14px;
}

.republican {
	background: linear-gradient(165deg, #D50000, #D50000 65%, #FF5252);
}

.democrat {
	background: linear-gradient(165deg, #0091EA, #0091EA 65%, #40C4FF);
}

.independent {
	background: linear-gradient(165deg, #00C853, #00C853 65%, #69F0AE);
}

/*		FOOTER 		*/
#footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	flex: 1;
	margin-bottom: 5px;
}

.social-links {
	width: 100%;
}

.social-links ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0 0 8px 0;
}

.social {
	font-size: 16px;
	flex-basis: 50px;
}

.social a:link,
 .social a:visited {
	color: #fff;
	transition: all 0.5s ease-out;
}

.social a:hover {
	color: #FF1744;
	transition: all 0.5s ease-out;
}

.copyright:before {
  content:"\00a9 ";
}

.copyright {
	color: #fff;
	margin: 0;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
}

/* Horizontal view ports */
@media (max-width: 768px) and (orientation: landscape) {
	.app-header {
		margin-top: 5%;
	}

	.app-title {
		margin-bottom: 35px;
	}

	.not-found {
		margin-top: 10%;
	}

	.willis-photo {
		display: none;
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.app-header {
		margin-top: 2.5%;
	}

	.top-title {
		margin-bottom: 0;
	}

	.app-title {
		font-size: 32px;
		margin-bottom: 40px;
	}

	.search-title {
		font-size: 18px;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* Header Text*/
	.top-title {
		font-size: 24px;
	}

	.app-title {
		font-size: 58px;
	}

	.search-title {
		font-size: 32px;
	}

	/* Search Bar */
	.user-search input[type=text] {
		flex-basis: 40%;
	}

	/*	PAGE: NOT FOUND   */
	.not-found {
		/*margin-top: 120px;*/
		/*margin-top: 10%;*/
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* Search Bar */
	.user-search input[type=text] {
		flex-basis: 30%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
