/*		GENERAL	STYLES	*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
}

/*		APP LAYOUT 		*/
.app {
  background: linear-gradient(80deg, rgba(239, 83, 80, 0.6), rgba(41, 182, 246, 0.7)), url('../img/us-capitol.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper {
	padding: 5px 10px;
	min-height: 100vh;
	min-width: 100vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	border: 10px solid rgba(255, 255, 255, 0.25);
}

/*		APP HEADER  	*/
.app-header {
	margin: 15% 0 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-title {
	margin: 0 0 10px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 18px;

}

.app-title {
	margin: 18px 0 60px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
	line-height: 1.35;
	letter-spacing: 5px;

}

.app-title span {
	font-weight: 700;
	color: #FF1744;
}

.search-title {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 24px;
}

/*		SEARCH BAR 		*/
.user-search {
	display: flex;
	justify-content: center;
}

.user-search input[type=text] {
	flex-basis: 50%;
	border-color: #FF5252;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-radius: 5px 0 0 5px;
	transition: all 0.35s ease-in-out;
	outline: none;
}

.user-search input[type=text]:focus {
	border-color: #FF1744;
	transition: all 0.35s ease-in-out;
}

.user-search input[type=text][placeholder] {
	font-size: 18px;
	line-height: 1.5;
	padding-left: 10px;
}

/*.user-search input[type=text][placeholder]:focus {
	line-height: 1.65;
}*/

.search-button {
	border: 1px;
	border-radius: 0 5px 5px 0;
	padding: 0 10px 0 11px;
	font-size: 18px;
	background-color: #FF5252;
	transition: all 0.25s ease-out;
}

.activated {
	background-color: #FF1744;
	transition: all 0.25s ease-out;
}

.deactivated {
	background-color: #FF5252;
	transition: all 0.25s ease-out;
}

/*		FOOTER 		*/
#footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	flex: 1;
}

.social-links {
	width: 100%;
}

.social-links ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0 0 8px 0;
}

.social {
	font-size: 16px;
	flex-basis: 20%;
}

.social a:link,
 .social a:visited {
	color: #fff;
	transition: all 0.5s ease-out;
}

.social a:hover {
	color: #FF1744;
	transition: all 0.5s ease-out;
}

.copyright:before {
  content:"\00a9 ";
}

.copyright {
	color: #fff;
	margin: 0;
	font-weight: 300;
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 1px; 
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* Header Text*/
	.top-title {
		font-size: 24px;
	}

	.app-title {
		font-size: 58px;
	}

	.search-title {
		font-size: 32px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}






