/*		GENERAL		*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
}

/*		LAYOUT 		*/
.app {
  background: linear-gradient(80deg, rgba(239, 83, 80, 0.6), rgba(41, 182, 246, 0.7)), url('../img/us-capitol.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper {
	max-width: 960px;
	padding: 10px 10px 5px 10px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	border: 15px solid rgba(255, 255, 255, 0.25);
	text-align: center;
}

/*		HEADER  	*/
.app-header {
	margin: 75px 0 15px 0;
}

.top-title {
	margin-bottom: 25px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 18px;

}

.app-title {
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 60px;
	font-size: 48px;
	line-height: 1.35;
	letter-spacing: 5px;
}

.app-title span {
	font-weight: 700;
	color: #FF1744;
}

.search-title {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 24px;
}

/*		BODY 		*/
.search-block {
	display: flex;
	justify-content: center;
	height: 46px;
	/*border: 1px solid green;*/
}

.user-search {
	border-radius: 10px;
}

.user-search input {
	height: 100%;
	width: 215px;
	border-color: #FF5252;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-radius: 5px 0 0 5px;
	transition: all 0.35s ease-in-out;
	outline: none;
}

.user-search input:focus {
	width: 245px;
	border-color: #FF1744;
	transition: all 0.35s ease-in-out;
}

.user-search input[placeholder] {
	font-size: 16px;
	padding-left: 10px;
}

button#search-button {
	width: 40px;
	border: none;
	border-radius: 0 5px 5px 0;
	padding: none;
	font-size: 18px;
	height: 100%;
}

.activated {
	background: #FF1744;
	transition: all 0.25s ease-out;
}

.deactivated {
	background: #FF5252;
	transition: all 0.25s ease-out;
}

/*		FOOTER 		*/
#footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	flex: 1 1 40px;
}

.social-links {
	width: 100%;
}

.social-links ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin-bottom: 8px;
}

.social {
	margin: 0 12px;
	font-size: 16px;
}

.social a:link,
 .social a:visited {
	color: #fff;
	transition: all 0.5s ease-out;
}

.social a:hover {
	color: #FF1744;
	transition: all 0.5s ease-out;
}

.copyright:before {
  content:"\00a9 ";
}

.copyright {
	color: #fff;
	margin: 0;
	font-weight: 300;
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 2px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.wrapper {
		padding: 10px 30px 4px;
	}

	/* Header Text*/
	.top-title {
		font-size: 24px;
	}

	.app-title {
		font-size: 58px;
	}

	.search-title {
		font-size: 32px;
	}

	/* Search Block*/
	.user-search input {
		width: 265px;
	}

	.user-search input:focus {
		width: 295px;
	}

	button#search-button {
		width: 50px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}






